/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.headline{
color:rgba(255, 112, 116, 1);
}
.header{
  display: flex;
  flex-direction:column;
justify-content:flex-end;
align-items: center;
}
.search{
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 8px 10px;
  font-size: larger;
  color:rgba(255, 112, 116, 1);
  background-color: pink;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.searchIcon{
  font-size: 24px; /* 아이콘 크기 조절 */
  
}
/* 모바일 스타일 */
@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
}
.description{
color: gray;
font-weight:600;
}
.EatWhat{
 
}
.main{
  display: flex;
  justify-content: center; 
}
.likeBtn{
  background-color: white;
  border: none;
  border-radius:50%;
  padding: 10px;
  cursor: pointer;
}
.big_cate{
  background-color: #d7e4f6;
  cursor: pointer;
  padding:2%;
  margin-right: 5%;
}
.small_cate{
  display: flex;
  flex-direction: column;
  
}
.small_cate_shop{
  background-color: rgba(215, 228, 246, 1);
  cursor: pointer;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-bottom: 10px;
}
.shop_content{
}
.shop_title{
  padding-right: 20px;
  font-size: large;
  font-weight: bolder;
}
.shopTime{
  font-size: smaller;
  color: gray;
}
.shopNumber{
  font-size: smaller;
  color: gray;
}

.big_cate,
.small_cate_shop,
.nextBtn{
  border: none;
  border-radius: 30px;
  padding-left: 8px;
}
.nextBtn{
  border-radius: 60px;
  color: white;
  background-color: 
  rgba(255, 112, 116, 1);
  margin-top: 10px;
  cursor: pointer;
  display: block;
  left: 10px;
  font-size: 20px;
  padding: 20px 30px;
  font-weight: bold;
}
.Big_shop_title{
  font-size: 24px;
}
.big_cate_content{
  margin-top: 200%; 
}
.likeBtn_p{
  display: flex;
  justify-content:left;
}
.likingImg{
  width:40px;
  height: 40px;
}
.next{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer{
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.navigators{
  display: flex;
  justify-content: space-around;
  margin: 15px 8px;
}
.img{
 height: 50px;
}