/* MainScreen.css */
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffe4e1;
  min-height: 100vh;
}

.donuts {
  margin-bottom: 20px; /* 도넛 이미지와 텍스트 사이 간격 설정 */
}

.donuts img {
  max-width: 100%;
  height: auto;
  animation: popOut 1s ease-in-out;

  /* 도넛 이미지 크기 조정 */
  width: 100%; /* 너비를 100%로 설정 */
  max-height: 500px; /* 최대 높이를 500px로 제한 */
}

.text h1 {
  font-size: 35px;
  font-weight: 700;
  color: #ff69b4;
  margin: 0 auto; /* 가로로 중앙 정렬 */
}

.text h2 {
  font-size: 1.5rem;
  color: #ff69b4;
}

.text p {
  font-size: 1rem;
  color: #333;
}

button {
  width: 348px;
  height: 67px;
  margin-top: 30px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}


/* 애니메이션 정의 */
@keyframes popOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
