/* MainScreen.css */
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffe4e1;
  min-height: 100vh;
}

.donuts {
  margin-bottom: 20px; /* 도넛 이미지와 텍스트 사이 간격 설정 */
}

.donuts img {
  max-width: 100%;
  height: auto;
  animation: popOut 1s ease-in-out;

  /* 도넛 이미지 크기 조정 */
  width: 100%; /* 너비를 100%로 설정 */
  max-height: 500px; /* 최대 높이를 500px로 제한 */
}



.text h1, .text h2 {
  display: block; /* 블록 요소로 변경 */
  margin: 0; /* 기본 마진 제거 */
  font-weight: 700; /* 굵은 글씨체 설정 */
  color: #ff7074; /* 텍스트 색상 설정 */
}

.text h1 {
  font-size: 35px;
}

.text h2 {
  font-size: 54px;
}

.text p {
  font-size: 1rem;
  color: #FF9494;
  white-space: pre-wrap; /* 공백과 줄바꿈을 유지 */
}

button {
  width: 348px;
  height: 67px;
  margin-top: 30px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* 애니메이션 정의 */
@keyframes popOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
